
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth; 
}
h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}
:root {
	--black: #333;
	--black2: #333;
	--white: #fff;
	--white2: #fff;
}
.dark {
	--black: #fff;
	--black2: #444;
	--white: #333;
	--white2: #444;
}
.container {
	width: 100%;
	position: relative;

}
.navigation {
	position: fixed;
	width: 300px;
	height: 100%;
	border-right: 1px solid rgba(0, 0, 0, 0.05);
	background: var(--white2);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: width 0.5s, left 0.5s ;
	z-index: 2000;
}

.navigation.active {
	width: 0;
}
.navigation ul {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 40px;
}
.navigation ul li {
	position: relative;
	width: 100%;
	list-style-type: none;

}
.navigation ul li a {
	position: relative;
	display: block;
	width: 100%;
	margin: 10px 0;
	display: flex;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--black);
	font-weight: 500;
	letter-spacing: 2px;
	opacity: 0.5;
}
.navigation ul li a:hover {
	opacity: 1;
}
.main {
	position: absolute;
	width: calc(100% - 300px);
	background: var(--white);
	min-height: 100vh;
	left: 300px;
	transition: width 0.5s, left 0.5s;
}
.main.active {
	left: 0;
	width: calc(100% - 0px);
	transition: width 0.5s, left 0.5s;
}
.main .topbar {
	position: fixed;
	top: 0;
	left: 300px;
	width: calc(100% - 300px);
	background: var(--white2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	display: flex;
	justify-content: space-between;
	height: 60px;
	align-items: center;
	z-index: 1000;
	transition: width 0.5s, left 0.5s;
}
.dark .main .topbar {
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.main .topbar.active {
	left: 0;
	width: calc(100% - 0px);
}
.main .topbar .logo, .main .topbar .toggle {
	margin: 0 40px;
}
.main .topbar .logo {
	color: var(--black);
	font-weight: 700;
	text-decoration: none;
	font-size: 1.4em;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.main .topbar .toggle {
	position: relative;
	width: 25px;
	height: 25px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
	color: var(--black);
}
section {
	position: relative;
	min-height: 100vh;
}
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
}
.banner .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.banner .imgBox {
	position: relative;
	height: 250px;
	width: 250px;
	overflow: hidden;
	border-radius: 50%;
	margin-bottom: 20px;
}
.banner .imgBox img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
h3 {
	position: relative;
	font-size: 1.4em;
	color: var(--black);
	text-transform: uppercase;
	letter-spacing: 2px;
}
p {
	color: #777;
}
.btn {
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	background: var(--black2);
	color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
	margin-top: 10px;
	text-decoration: none;
}
.socialMedia {
	position: absolute;
	bottom: 0;
	padding: 0;
	display: flex;
}
.socialMedia li {
	list-style: none;
}
.socialMedia li a {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, 0.05);
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--black);
	font-size: 1.2em;
}
.socialMedia li a:hover {
	background: var(--black2);
	color: #fff;
	transition: 0.2s;
}
.adjust {
	position: relative;
	/*width: 100%;*/
	min-height: 100vh;
	padding: 80px 40px 0 40px;
	background: var(--white);
	color: var(--black);
	display: inline-block;
}
.title, .title2 {
	width: 100%;
	text-align: center;
}
.title h2, .title2 h2 {
	position: relative;
	text-transform: uppercase;
	list-style-position: 2px;
	font-size: 1.2em;
	margin-bottom: 30px;
}
.title h2::before {
	content: '';
	position: absolute;
	transform: translateX(50%);
	bottom: -10px;
	width: 50px;
	height: 1px;
	background: var(--black);
}
.about .content {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
.about .content .textBox {
	width: 49%;
	min-width: 49%;
}
.about .content .imgBox {
	margin-left: 30px;
	width: 49%;
	min-width: 49%;
}
.about .content .imgBox img {
	max-width: 100%;
}
.title2 h2::before {
	content: '';
	position: absolute;
	transform: translateX(50%);
	bottom: -10px;
	width: 70px;
	height: 1px;
	background: var(--black);
}
.services .content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 40px 0;
	grid-gap: 20px;

}

.services .content .servicesBox {
	border: 1px solid rgba(0, 0, 0, 0.05);
	display: flex;
	background: var(--whute2);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px;
}
.services .content .servicesBox img {
	max-width: 60px;
}
.services .content .servicesBox h2{
	font-size: 1.1em;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 600;
	color: var(--black);
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.services .content .servicesBox p {
	text-align: center;
}
.project {
	display: block;
}
.project .content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 40px 0;
	grid-gap: 20px;
}
.project .content .workBox {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.project .content .workBox .imgBox {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	transition: 0.5s ease-in-out;
}
.project .content .workBox .imgBox img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.project .content .workBox:hover .imgBox {
	transform: translateY(0);
}
.project .content .workBox .textBox {
	position: absolute;
	left: 0;
	top: 0;
	background: var(--black);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	transform: translateY(0);
	transition: 0.5s ease-in-out;
}
.project .content .workBox:hover .textBox {
	transform: translateY(-100%);
}

.project .content .workBox .textBox h3 {
	font-size: 1em;
	color: var(--white);
}
.testimonials .content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 40px 0;
	grid-gap: 20px;
}
.testimonials .content .testimonialsBox {
	background: var(--white);
	border: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0.5px 10px rgba(0, 0, 0, 0.05);
	padding: 20px;
}
.dark .testimonials .content .testimonialsBox {
	border: 1px solid rgb(251 250 250 / 5%);
	box-shadow: 0.5px 10px rgb(251 250 250 / 5%);
}
.testimonials .content .testimonialsBox .imgBox {
	position: relative;
	width: 80px;
	height: 80px;
	margin-bottom: 10px;
}
.testimonials .content .testimonialsBox .imgBox img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.testimonials .content .testimonialsBox p {
	font-style: italic;
}
.testimonials .content .testimonialsBox h4 {
	text-align: right;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--black);
	line-height: 1.2em;
	font-weight: 600;
	border-right: 3px solid var(--black);
	padding-right: 10px;
	margin-top: 20px;
}
.testimonials .content .testimonialsBox h4 span {
	text-transform: initial;
	color: #aaaa;
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 0.7em;
}
.contact {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
.contact .contactForm {
	position: relative;
	width: 100%;
	max-width: 700;
	margin-top: 20px;
}
.contact .contactForm .row {
	width: 100%;
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 40px 0;
	grid-gap: 20px;
}
.contact .contactForm .row2 {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.contact .contactForm .row input, 
.contact .contactForm .row2 textarea {
	padding: 10px;
	/*border: none;*/
	outline: none;
	color: var(--black);
	background: var(--white2);
	font-size: 16px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.contact .contactForm .row2 textarea {
	resize: none;
	height: 200px;
	width: 100%;
}
.contact .contactForm .row2 input[type="submit"] {
	background: var(--black2);
	color: #fff;
	padding: 10px 30px;
	display: inline-block;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
	font-size: 16px;
	text-transform: uppercase;
	max-width: 150px;
	border: none;
}
.copyright {
	position: relative;
	bottom: 0;
	padding: 10px 30px;
	text-align: center;
}
.themeSwitch {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: var(--black);
	color: var(--white);
	bottom: 20px;
	left: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.themeSwitch::before {
	content: '\f186';
	font-family: fontAwesome;
}
.dark .themeSwitch::before {
	content: '\f185';
	font-family: fontAwesome;
}
.themeSwitch:after {
	content: 'Switch to Dark Mode';
	position: absolute;
	left: 40px;
	color: var(--black);
	font-size: 0.7em;
	pointer-events: none;
	letter-spacing: 1px;
	white-space: nowrap;
}
.dark .themeSwitch:after {
	content: 'Switch to Light Mode';
}
.dark .navigation {
	border-right: 1px solid rgba(0, 0, 0, 0.5);
}
@media (max-width: 992px) {
	.navigation {
		width: 0;
		border: 2px solid rgba(0, 0, 0, 0.05);
		height: min-content;
		top: 60px;
		right: -2px;
		border-right: none;
	}
	.navigation.active {
		width: 300px;
	}
	.main.active, .main, .main .topbar {
		width: 100%;
		left: 0;
	}
	.main .topbar {
		z-index: 10000;
	}
	.navigation ul {
		padding: 20px 20px;
	}
	.banner .imgBox {
		width: 220px;
		height: 220px;
	}
	.banner h3,
	.banner p {
		text-align: center;
	}
	.adjust {
		padding: 0 20px;
		padding-top: 81px
	}
	.services .content.adjust {
		padding-top: 20px;
	}
	.about .content {
		flex-direction: column;

	}
	.about .content .textBox {
		width: 100%;
		min-width: 100%;
	}
	.about .content .imgBox {
		margin-left: 0;
		margin-top: 20px;
		position: relative;
		min-width: 100%;
		width: 100%;
	}
	/*.about .content .imgBox img {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
	}*/
	.services .content,
	.project .content {
		grid-template-columns: repeat(2, 1fr) ;
	}
	.themeSwitch {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    bottom: 10px;
    left: 20px;
    font-size: 16px;
	}
}
@media (max-width: 769px) {
	.services .content,
	.project .content,
	.testimonials .content {
		grid-template-columns: repeat(1, 1fr) ;
	}
	.contact .contactForm .row {
		grid-template-columns: repeat(1, 1fr)
	}
	.contact {
		margin-bottom: 80px
	}
	.copyright {
		padding: 10px 20px;
	}
}
@media (max-width: 550px) {
	.main .topbar {
		height: 40px;
	}
	.adjust {
		padding-top: 60px
	}
	.main .topbar .logo {
		font-size: 1.2em;
	}
	.navigation {
		top: 40px;
	}
	.themeSwitch {
	    width: 20px;
	    height: 20px;
	    border-radius: 50%;
	    bottom: 10px;
	    left: 20px;
	    font-size: 12px;
	}
}
